@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import url("https://fonts.googleapis.com/css?family=Roboto:900|Roboto+Mono:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

body {
  margin: 0;
  font-family: "Montserrat", "Bigelow", "Roboto", "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
footer menu
*/

#main-menu a.active,
#mobileMenu a.active {
  color: #ffcccc; /* contrast ratio [8B0000 and ffcccc] 7:03:1 */
  font-weight: 600;
  text-decoration: underline;
}

#footer-menu a.active {
  color: #ffcccc;
  font-weight: 600;
  text-decoration: underline;
}

#footer-menu li > a:hover {
  color: #ffcccc;
  font-weight: 700;
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 5rem;
  right: 1rem;
  z-index: 50;
  display: inline;
  cursor: pointer;
  /* border: 1px solid white; */
  /* padding: 2px; */
  /* border-radius: 10px; */
  /* margin: 0 0 0 5px; */
}

/* For mobile: width 664 (mobile horizontal display) */
@media only screen and (min-width: 667px) {
  .menu-bars {
    position: fixed;
    top: 0rem;
    right: 1rem;
    z-index: 50;
    /* display: block; */
    display: inline;
    cursor: pointer;
  }
}
/* 425px */
@media only screen and (min-width: 425px) {
  .menu-bars {
    top: 6rem;
  }
}

.bar1,
.bar2,
.bar3 {
  background-color: #fff;
  width: 35px;
  height: 2px;
  font-weight: 900;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.show-mobileMenu {
  /* width: 450px; */
  /* left: -140px; */
  transition: width 1500ms;
  animation: linear;
}

.pull-menu {
  width: "70%";
  transition: "width 1500ms ";
  animation: "linear";
  border: "1px solid gray";
}

.push-menu {
  width: "10%";
  transition: "width 1500ms ";
  animation: "linear";
  border: "1px solid gray";
}

.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

/* background image display */

@media only screen and (max-width: 374px) {
  /* For small mobile: */
  #photo-gallery {
    background: center url("/public/beach4-320X664.jpg");
    background-size: cover;
  }
}

@media only screen and (min-width: 375px) {
  /* For large mobile: */
  #photo-gallery {
    background: center url("/public/beach4-375X664.jpg");
    background-size: cover;
    /* border: 3px solid yellow; */
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  #photo-gallery {
    background: center 50% url("/public/beach4.jpg");
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #photo-gallery {
    background: center 70% url("/public/beach4.jpg");
    background-size: cover;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  #photo-gallery {
    background: 70% url("/public/beach4.jpg");
    background-size: cover;
  }
}

/* end background image display */

/* this is used by react PDF */
/* body { margin: 0; background-color: #525659; font-family: Segoe UI,
    Tahoma,
    sans-serif; } .Example input,
    .Example button { font: inherit; } /* .Example header { background-color: #0f568d; box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) ; padding: 20px; color: white; } 
  */

.pdf_header header h1 {
  font-size: inherit;
  margin: 0;
}

.pdf_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.Example__container__load {
  margin-top: 1em;
  color: white;
}

.pdf_container_document {
  width: 100%;
  max-width: calc(100% - 2em);
  margin: 1em 0;
}

.pdf_container_document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf_container_document .react-pdf__Page {
  margin: 1em 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.pdf_container_document .react-pdf__message {
  padding: 20px;
  color: white;
}

#splide .splide__arrows {
  color: #800000 !important;
  /* foreground: yellow; */
}

/* To change the color of the arrow icon itself */
/* Example: Red color */
/* .splide__arrow {
  color: #ff0000; 
} */

/* If the arrow is an SVG, you might need to target its stroke or fill */
#splide .splide__arrow svg {
  fill: #800000; /* Example: Blue color for the SVG fill */
  stroke: #800000; /* Example: Green color for the SVG stroke */
}

/* To change the background color of the arrow button (if applicable) */
/* Example: Yellow background */
/* .splide__arrow {
  background-color: #ffff00; 
}

#splide .splide__track .splide_list .splide_slide {
  fill: #800000;
  stroke: #800000;
} */

/* 
#footer-ribbon {
  /* background: url("/public/handicrafts-in-sri-lanka-4.jpg"); 
background: url("/public/ele.png") repeat;
width: 30%;
/* height: auto; 
} */

#poster1 .image-container {
  display: flex;
  justify-content: space-between; /* or space-around */
  align-items: center; /* for vertical alignment if needed */
  width: fit-content; /* Adjust as needed */
}

.original-image {
  /* Optional: Add styling for the original image */
}

.mirror-image {
  transform: scaleX(-1);
}

/* https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design */
/* 
Common breakpoints:

    320px: Small mobile devices
    480px:  Larger smartphones
    768px: Tablets
    1024px: Small desktops/laptops
    1280px and above: Large desktops
*/

/* Mobile */
/*  360×800 (10.56%)
    390×844 (6.72%)
    393×873 (5.49%)
    412×915 (4.2%)
    375×812 (3.87%)
    393×852 (3.83%) 
*/

@media only screen and (max-width: 374px) {
  #border {
    background-image: url("/public/ele.png");
    background-size: 6% auto;
    /* background-color: yellow; */
    /* height: 85px; */
    overflow: hidden;
    transform: scaleX(-1);
    /* margin-top: 0; */
  }
}
@media only screen and (min-width: 375px) {
  #border {
    background-image: url("/public/ele.png");
    background-size: 10.5% auto;
    /* background-color: cyan; */
    transform: scaleX(-1);
    margin-top: 0;
    /* padding-bottom: 2px; */
  }
}

@media only screen and (min-width: 425px) {
  #border {
    background-image: url("/public/ele.png");
    background-size: 6% auto;
    /* background-color: #1f2; */
    /* height: 160px; */
    transform: scaleX(-1);
    margin-top: 0;
    /* padding-bottom: 2px; */
  }
}

/* tablets */
/* 
    768×1024 (17.59%)
    810×1080 (10.53%)
    820×1180 (8.33%)
    800×1280 (7.53%)
    1280×800 (6.47%)
    601×962 (3.57%) 
*/

@media only screen and (min-width: 600px) and (max-width: 820px) {
  /* For tablets: */
  #border {
    background-image: url("/public/ele.png");
    /* background-size: 12% auto; */
    /* background-color: red; */
    height: 120px;
    margin-top: 0;
  }
}

/* this is for mobile horizontal width 664px */
@media only screen and (min-width: 664px) and (max-width: 767px) {
  #border {
    background-image: url("/public/ele.png");
    height: 90px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 821px) and (max-width: 912px) {
  /* For tablets: */
  #border {
    background-image: url("/public/ele.png");
    /* background-size: 11% auto; */
    /* background-color: #ff0066; */
    /* this entry is added for res 853X1280 not sure it will fail for others */
    height: 120px;
    margin-top: 0;
  }
}

/* @media only screen and (min-width: 1024px) { */
@media only screen and (min-width: 913px) and (max-width: 1024px) {
  /* For tablets: */
  #border {
    background-image: url("/public/ele.png");
    /* background-size: 27% auto; */
    overflow: hidden;
    /* background-color: green; */
    /* height: 235px; */
    height: 170px;
    margin-top: 0;
  }
}

/* @media only screen and (min-width: 1025px) and (max-width: 1440px) { */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /* For laptop: */
  #border {
    background-image: url("/public/ele.png");
    /* background-size: 8% auto; */
    height: 235px;
    height: 200px;
    overflow: hidden;
    /* background-color: pink; */
  }
}

@media only screen and (min-width: 1441px) and (max-width: 2560px) {
  /* For tablets: */
  #border {
    background-image: url("/public/ele.png");
    /* background-size: 18% auto; */
    height: 410px;
    height: 350px;
    /* background-color: orange; */
  }
}

/* desktop */
/* 
    1920×1080 (24.27%)
    1536×864 (11.13%)
    1366×768 (10.85%)
    1280×720 (5.82%)
    1440×900 (4.18%)
    2560×1440 (3.29%)
*/

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* For laptop: */
  #border {
    background-image: url("/public/ele.png");
    /* background-size: 10.5% auto; */
    overflow: hidden;
    /* background-color: #565656; */
    margin-top: 0;
  }
}

@media only screen and (max-width: 2560px) {
  /* For laptop: */
  #border {
    background-image: url("/public/ele.png");
    background-size: 20% auto;
    overflow: hidden;
    /* background-color: ##f5f5; */
    margin-top: 0;
  }
}

#poster {
  background-color: #eed3cc;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f6f6f6' fill-opacity='0.4'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
